<div>

    <nav class="navbar   navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand  fa fa-2x fa-arrow-circle-o-left" data-ui-sref="Admin"></a>

            </div>



            <ul class="nav navbar-nav">
                <li><a class="btn " ng-model="radioModel" data-btn-radio="'Left'">Left</a></li>
                <li><a class="btn " ng-model="radioModel" data-btn-radio="'Middle'">Middle</a></li>
                <li><a class="btn " ng-model="radioModel" data-btn-radio="'Right'">Right</a></li>
            </ul>

        </div>
    </nav>

</div>
